<div class="container-fluid">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong><i>cart-{{id}}</i></strong>
            </div>
            <div class="gridproduct" *ngFor="let val of cart;">
                <div class="card-body flexImage">
                    <img src="../../assets/images/{{val.image}}" class="image rounded " alt="...">
                </div>

                <div class="card-body txtDesc">
                    <h5 class="card-title">{{val.name}}</h5>
                    <h6 class="card-title">{{val.description}}</h6>
                </div>
                <div class="card-body txtPrice">
                    <h5 class="card-title">{{val.price}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container2">

        <div class="card">
            <div class="card-header">
                <strong><i>Summary</i></strong>
            </div>

            <div class="gridamount">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <h5 class="card-title">Service</h5>
                    <h5 class="card-title">Discount</h5>
                    <hr>
                    <h5 class="card-title">Total amount</h5>
                    <h6 class="card-subtitle mb-2 text-muted">(include VAT)</h6>
                </div>

                <div class="card-body">
                    <h5 class="card-title">€{{price}}</h5>
                    <h5 class="card-title">€3.10</h5>
                    <h5 class="card-title">---</h5>
                    <hr>
                    <h5 class="card-title">€{{sum}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container3">
    <form>
        <div class="row g-3 mt-1">
            <h1>Order Form</h1>
            <p>please fill up the info for the delivery</p>
            <div class="row row-cols-lg-1">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="fName">
            </div>
            <div class="row row-cols-lg-1">
                <label for="formGroupExampleInput2" class="form-label">Address</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="lName">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Purchase</button>
            </div>
        </div>
    </form>