<div class="container-sm">
    <h1 class="h1">
        Ristorante Il Gambero Rosso
    </h1>
    <!-- <div class="row row-cols-1"> -->

    <div class="card">
        <img src="assets/images/pexels-guilherme-rossi-1819669.jpg" class="card-img-right">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Our History</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laudantium, ab perspiciatis accusantium expedita ad, voluptas doloremque exercitationem quam voluptates qui ipsam illo atque odio voluptatem numquam, autem illum earum. Tempore
                incidunt veniam tenetur quasi exercitationem perferendis blanditiis debitis corrupti optio labore et adipisci, neque saepe in laudantium, minus at assumenda dicta nihil iusto molestias quos ipsam repellat animi. Dicta ad, fugit distinctio</p>
            <ul>
                <li class="li">An item</li>
                <li class="li">A second item</li>
                <li class="li">A third item</li>

            </ul>
            <p>
                assumenda, deleniti quod nesciunt dolorem quidem excepturi minus magni autem aliquam modi tempora ipsa, doloremque veniam eaque beatae! Quam eos veniam voluptates laborum. Ad sapiente impedit quidem quo tempore, ullam vitae alias sequi ut architecto recusandae
                quam.
            </p>
        </div>
    </div>



    <div class="why">
        <h3 class="h3">Why choose us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, hic.</p>
        <!-- <div class="container text-center"> -->
        <div class="row row-cols-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h5">01</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Lorem, ipsum.</h6>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum accusamus hic recusandae. Officiis, amet. Magni.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h5">02</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Lorem, ipsum.</h6>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum accusamus hic recusandae. Officiis, amet. Magni.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h5">03</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Lorem, ipsum.</h6>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum accusamus hic recusandae. Officiis, amet. Magni.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <div class="specials">
        <h3 class="h3">Check our specials</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, hic.</p>
        <div class="sGrid">

            <div class="gridBtn">
                <button type="button" class="btn btn-outline-info">Lorem, ipsum dolor.</button>
                <button type="button" class="btn btn-outline-info">Lorem, ipsum dolor.</button>
                <button type="button" class="btn btn-outline-info">Lorem, ipsum dolor.</button>
                <button type="button" class="btn btn-outline-info">Lorem, ipsum dolor.</button>
                <button type="button" class="btn btn-outline-info">Lorem, ipsum dolor.</button>
            </div>



            <div class="gridTxt">
                <h5 class="h5">Lorem ipsum dolor sit amet.</h5>
                <h6 class="mb-2 text-muted">Lorem, ipsum.</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum accusamus hic recusandae. Officiis, amet. Magni.</p>
            </div>
            <div class="gridImg">
                <img src="assets/images/pexels-jane-doan-1099680.jpg">
            </div>
        </div>
    </div>
</div>